.navbar-brand{
  /* background-color: rgb(37, 213, 244); */
  border-radius: 5px;
  font-family:fantasy;
}
#navbarText{
  font-size: 80%;
}

ul li a:hover {
background-color: rgb(97, 168, 4);
border-radius: 5px;
  text-decoration:none;
 font-size: 100%;
  /* text-underline-position: below; */


}
.rounded{
padding-left: 30%;
padding-right: 30%;
padding-top: 5%;

}

/* align-items: center; */
/* Footer CSS */
footer{
position:relative;
left: 0;
bottom: 0;
background-color: black;
color: white;
text-align: center;
height: 250px;
width: 100%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
footer h1{
color:aliceblue;
font-family:'Times New Roman', Times, serif;

}
.social {
margin-top: 50px;
display: flex;
justify-content: center;
gap:50px;
text-decoration: none;
border-radius: 50%;
}
hr{
width:70%;
margin-bottom: 50px;
}


footer .fotcontent{
display: flex;
justify-content: center;
gap:80px;
}

footer a{
text-decoration: none;
color: rgb(246, 249, 252);
}

footer a:hover{
color:rgb(207, 252, 7);
font:bolder;
transition: 0.5s;

}
.view{
display:none;
margin-left: 20%;
margin-bottom: 10px;
padding: 20px;
}



.bodystyle {
  background-color: #000000;
  color: #000000;
}

table {
  background-color: #000000;
  color: #000000;
}

th {
  background-color: #050101;
  color: #ffffff;
}

td {
  background-color: #050101;
  color: #ffffff;
}

.container {
  background-color: #000000;
  color: #000000;
}

.match {
  background-color: #000000;
  color: #ffffff;
}

/*Switching*/

/* body{
margin: 0%;
padding: 0%;
font-family: "Arial", Helvetica, sans-serif;
}
i{
font-size: 150px;
cursor: pointer;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
h1{
text-align: center;
font-size: 3em;

} */